@import '../../../../styles/variables/colors.scss';
@import '../../../../styles/variables/fonts.scss';

.changeRadio {
    appearance: none;
    width: 24px;
    height: 24px;
    margin: 0 0 0 3px;
    background: url('../../../../assets/icons/checkbox-empty.svg');
  
    &:checked {
      background: url('../../../../assets/icons/checkbox-fill.svg');
    }
  }