@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';

.Outer {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #262524;
  opacity: 0.5;
}

.BottomContainer {
  z-index: 3;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-radius: 22px 22px 0px 0px;
  background-color: white;
}
