@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';

.List {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 132px;
    overflow-y: scroll;
    position: relative;
  
    // For Chrome, Safari and Opera
    ::-webkit-scrollbar {
      display: none;
    }
}

.List::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.ListCenter {
    box-sizing: border-box;
    height: 44px;
    position: sticky;
    top: 44px;
    cursor: pointer;
}

.Date {
    @include sub16;
    z-index: 1;
    position: relative;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.Selected {
        font-weight: "normal";
        opacity: 1;
    }

    &.Unselected {
        font-weight: "bold";
        opacity: 0.4;
    }
}