@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';

.container {
  .SelectDateContainer {
    width: 100%;
    display: flex;
    flex-direction: column;

    .SelectDate {
      @include sub16;
      padding-top: 40px;
      padding-bottom: 48px;
      display: flex;
      justify-content: center;
    }

    .DatePicker {
      display: flex;
      justify-content: center;
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 96px;
    }

    .DateListCenter {
      box-sizing: border-box;
      background-color: #ebe9e7;
      border-radius: 8px;
      width: calc(100% - 32px);
      height: 44px;
      margin-left: 16px;
      top: 155px;
      position: absolute;
    }
  }
}
