@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.changeBtn {
  all: initial;
  position: absolute;
  bottom: 12px;

  display: flex;
  width: calc(100% - 32px);
  height: min-content;
  margin: 0 16px;
  padding: 14px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  @include btn;
  color: $BK70;
  background-color: $BK30;
  pointer-events: none; // 클릭 불가능하게 설정

  &.abled {
    // 버튼을 선택한 상태
    background-color: $primary_default;
    color: $WH;
    pointer-events: auto; // 클릭 가능하게 설정
  }

  &:active {
    background-color: $primary_pressed;
  }
}
