@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.default {
  all: initial;
  display: block;
  width: calc(100% - 22px);
  border-radius: 8px;
  padding: 12px 11px;
  color: $BK90;
  background-color: $BK10;
  overflow: hidden;

  //   text-align: justify;

  &::placeholder {
    @include body16;
    color: $BK50;
  }

  &.input44 {
    height: 20px;
    @include sub16;
  }

  &.input180 {
    height: 180px;
    @include body16;
    padding: 12px 16px;
  }

  &.input240 {
    height: 240px;
    @include body14;
    padding: 12px 16px;
  }
}
