@import '../../styles/variables/colors.scss';

.messagesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 10px;
  .aiChatBox {
    display: flex;
    gap: 10px;
    .messagesWrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .aiName {
        font-size: 14px;
      }
    }
  }
}

.inputBox {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
  .plusBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
  }
  .input {
    flex-grow: 1;
    border: none;
    outline: none;
  }
  .submitBtn {
    width: 56px;
    border: none;
    background-color: $orange;
    color: white;
  }
}
