@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';

.profileBefore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;

  & .name {
    margin-top: 6px;
    @include sub18;
    color: $BK90;
  }

  & .text {
    margin-top: 8px;
    @include body14;
    color: $BK90;
    text-align: center;
  }

  & .tags {
    display: flex;
    margin-top: 24px;
    gap: 8px;
    @include body14;
    color: $BK70;
    align-items: center;
  }
}

.profileAfter {
  padding: 48px 16px;

  & .chatProfile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;

    & :first-child {
      display: flex;
      align-items: center;
    }

    & .name {
      margin-left: 16px;
      @include sub16;
      color: $BK90;
    }

    & .tags {
      display: flex;
      align-items: center;
      gap: 8px;
      @include caption;
      color: $BK70;
    }
  }

  & .uncheckedLabel {
    opacity: 0.4;
  }
}
