@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.calendarWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  padding: 16px;
  .dayOfWeekList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    gap: 4px;
    .dayOfWeek {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      @include body14;
    }
  }
  .daysContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .weekRow {
    display: flex;
    justify-content: space-between;
    height: 48px;
    gap: 4px;
    .dayBtn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      align-items: center;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      @include body14;
      &:active {
        background-color: $primary-default;
        color: $WH;
      }
      .characterDots {
        display: flex;
        gap: 2px;
        position: absolute;
        top: 36px;
      }
    }
  }
}

.dada {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: $primary-default;
}
.lulu {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: $secondary_blue;
}
.chichi {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: $secondary_pink;
}
