@import '../../../styles/variables/fonts.scss';
@import '../../../styles/variables/colors.scss';

.listItemContainer {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 18px 0px 15px 16px;
  height: 80px;

  :first-child {
    @include body16;
    color: $BK90;
  }

  :last-child {
    @include body14;
    color: $BK70;
  }
}
