@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';

.changeBtn {
  position: absolute;
  bottom: 12px;

  display: flex;
  width: calc(100% - 32px);
  height: min-content;
  margin: 0 16px;
  padding: 14px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  @include btn;
  color: $BK70;
  background-color: $BK30;
}
