@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';

.radioContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;

  & :first-child {
    display: flex;
    align-items: center;
  }

  & .name {
    @include sub16;
    color: $BK90;
  }
}
