@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.profileBefore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  margin-top: 56px;

  & .name {
    margin-top: 6px;
    @include sub18;
    color: $BK90;
  }

  & .text {
    margin-top: 8px;
    @include body14;
    color: $BK90;
    text-align: center;
    white-space: pre-line;
  }

  & .tags {
    display: flex;
    margin-top: 24px;
    gap: 8px;
    @include body14;
    color: $BK70;
    align-items: center;
  }
}

.profileAfter {
  padding: 48px 16px;

  & .uncheckedLabel {
    opacity: 0.4;
  }
}
