@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.DiaryItem {
  padding: 16px 16px 16px 16px;
  display: flex;
  text-decoration: none;

  .DiaryImg {
    width: 80px;
    height: 80px;
    background-color: $secondary_pink;
    margin-right: 12px;
    border-radius: 8px;
  }

  .DiaryTitleContainer {
    display: flex;
    gap: 2px;
    color: var(--gray-scale-BK90_text1, $BK90);
    @include sub16;

    .DiaryTitle {
      width: 236px;
      white-space: nowrap; /* 줄 바꿈 금지 */
      overflow: hidden; /* 넘치는 부분 감출 수 있도록 설정 */
      text-overflow: ellipsis;
      max-width: 236px; // 적절한 최대 너비 설정
    }
  }

  .DiaryDate {
    color: var(--gray-scale-BK70_text2, $BK70);
    @include caption;
    margin: 6px 0px 14px 0px;
  }

  .DiaryTags {
    width: 230px;
    display: flex;
    gap: 4px;
    color: var(--gray-scale-BK70_text2, $BK70);
    @include body14;
  }
}
