@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.DiaryItem {
  padding: 16px;
  display: flex;
  text-decoration: none;

  .imgWrapper {
    position: relative;
    z-index: -1;
    .DiaryImg {
      width: 80px;
      height: 80px;
      border-radius: 8px;
      background-color: $WH;
      margin-right: 12px;
    }
  }

  .imgWrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .DiaryTitleContainer {
    display: flex;
    gap: 2px;
    color: $BK90;
    @include sub16;

    .DiaryTitle {
      width: 236px;
      white-space: nowrap; /* 줄 바꿈 금지 */
      overflow: hidden; /* 넘치는 부분 감출 수 있도록 설정 */
      text-overflow: ellipsis;
      max-width: 236px; // 적절한 최대 너비 설정
    }
  }

  .DiaryDate {
    color: var(--gray-scale-BK70_text2, $BK70);
    @include caption;
    margin: 6px 0px 14px 0px;
  }

  .TagsWrapper {
    width: 236px;
    display: flex;
    color: $BK70;
    .DiaryTags {
      display: flex;
      column-gap: 8px;
      color: $BK70;
      @include body14;

      .DiaryTagItems {
        flex-shrink: 0;
      }
    }
    .Ellipsis {
      margin-left: 2px;
      padding-top: 3.5px;
    }
  }
}
