@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.DiaryItem {
  padding: 16px 16px 16px 16px;
  display: flex;

  .DiaryImg {
    width: 80px;
    height: 80px;
    background-color: $BK20;
    margin-right: 12px;
    border-radius: 8px;
  }

  .DiaryTitle {
    width: 180px;
    height: 24px;
    border-radius: 2px;
    display: flex;
    @include sub16;
    background-color: $BK20;
  }

  .DiaryDate {
    width: 60px;
    height: 16px;
    border-radius: 2px;
    margin: 6px 0px 14px 0px;
    background-color: $BK20;
  }

  .DiaryTags {
    width: 116px;
    height: 20px;
    border-radius: 2px;
    @include body14;
    background-color: $BK20;
  }
}
