.CardViewWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-sizing: content-box;
  padding-bottom: 10px;

  & > :first-child {
    margin-top: 16px;
    box-sizing: content-box;
  }
}
