@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.CardViewItem {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .CardViewItemImg {
    background-color: $secondary_pink;
    z-index: 1;
  }

  .CardViewItemContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    width: 304px;
    bottom: 12px;
    z-index: 1;

    .DiaryTitle {
      display: flex;
      gap: 2px;
      color: $WH;
      @include header20;
      width: 304px;
      max-width: 304px; // 적절한 최대 너비 설정
    }

    .DiaryDate {
      color: $WH;
      @include caption;
    }

    .DiaryTagsContainer {
      display: flex;
      flex-direction: column;

      .DiaryTags {
        display: flex;
        gap: 8px;
        color: $WH;
        @include body14;
        max-width: 304px; // 적절한 최대 너비 설정
      }
    }
  }
}
