@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.LoadingWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding-bottom: 10px;

  .LoadingDiaryItem {
    width: 328px;
    height: 342px;
    border-radius: 8px;
    background: $BK20;
  }

  & > :first-child {
    margin-top: 16px;
  }
}

.CardViewWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-sizing: content-box;
  padding-bottom: 10px;
  align-items: center;

  & > :first-child {
    margin-top: 16px;
  }
}
