@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.CardViewItem {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;

  .imgWrapper {
    position: relative;
  }
  .imgWrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  }

  .CardViewItemImg {
    width: 328px;
    height: 342px;
    border-radius: 8px;
    background-color: $secondary_pink;
    z-index: 1;
  }

  .CardViewItemContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    width: 304px;
    bottom: 12px;
    z-index: 1;

    .DiaryTitle {
      display: flex;
      gap: 2px;
      color: $WH;
      @include header20;
      width: 304px;
      max-width: 304px; // 적절한 최대 너비 설정
    }

    .DiaryDate {
      color: $WH;
      @include caption;
    }

    .DiaryTagsContainer {
      display: flex;
      flex-direction: column;

      .DiaryTags {
        display: flex;
        gap: 8px;
        color: $WH;
        @include body14;
        max-width: 304px; // 적절한 최대 너비 설정
      }
    }
  }
}

.NoImgCardViewItem {
  display: flex;
  position: relative;
  text-decoration: none;
  background-color: $WH;
  width: 328px;
  height: 128px;
  border-radius: 8px;
  border: 1px solid $BK30;

  .NoImgCardViewItemContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    width: 304px;
    left: 12px;
    bottom: 18px;
    z-index: 1;

    .NoImgDiaryTitle {
      display: flex;
      gap: 2px;
      color: $BK90;
      @include sub16;
      width: 304px;
      max-width: 304px; // 적절한 최대 너비 설정
    }

    .NoImgDiaryDate {
      color: $BK70;
      @include caption;
    }

    .NoImgDiaryTagsContainer {
      display: flex;
      flex-direction: column;

      .NoImgDiaryTags {
        display: flex;
        gap: 8px;
        color: $BK70;
        @include body14;
        max-width: 304px; // 적절한 최대 너비 설정
      }
    }
  }
}
