@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';

.header {
  margin-top: 136px;
  display: flex;
  justify-content: center;

  @include header24;
  color: $BK90;
}

.sub {
  margin-top: 7px;
  display: flex;
  justify-content: center;

  @include body16;
  color: $primary_default;
}

.img {
  display: flex;
  justify-content: center;
}
