@import '../../../styles/variables/fonts.scss';
@import '../../../styles/variables/colors.scss';

.accountContainer {
    margin-top: 56px;

    .listContainer {
        padding-top: 8.11px;

        .listItemContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 54px;
            padding: 9px 16px;
            
            @include body16;
            color: $BK90;
        }
    }
}