$primary_default: #ff9000;
$primary_pressed: #ff7100;
$secondary_blue: #8f8fed;
$secondary_pink: #ffbfb9;

$BK100: #121212;
$BK90: #302e2d;
$BK80: #484846;
$BK70: #6f6d6c;
$BK60: #979694;
$BK50: #b7b6b4;
$BK40: #dbd9d7;
$BK30: #ebe9e7;
$BK20: #f4f2f0;
$BK10: #faf9f7;
$WH: #ffffff;
