@import '../../../../styles/variables/colors.scss';
@import '../../../../styles/variables/fonts.scss';

.changeHeader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 12px;
  background-color: $WH;

  @include sub18;
  color: $BK90;
}
