@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.container {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  padding: 13px 16px;

  & .categoryContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 29px;
    @include sub16;
    color: $BK90;

    & .tagContainer {
      display: flex;
      gap: 8px;
      flex-wrap: wrap; // 줄바꿈
      margin-top: 14px;
    }
  }
}
