@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.container {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  margin-bottom: 50px;
  padding: 13px 16px;
}
