@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';

.detailContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  padding: 8px 16px;

  & .header {
    display: flex;
    width: 100%;
    justify-content: space-between;

    & :first-child {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    @include sub16;
    color: $BK90;
  }

  & .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;

    & .slider {
      display: block;
      $width: calc(100vw - 32px);
      width: $width;
      height: 328px;
      border-radius: 12px;
      background-color: #e9e9e9;

      overflow: hidden;
    }

    & .img {
      width: 100%;
      height: auto;
      background-size: cover;

      // object-fit: fill;
    }

    & .index {
      position: absolute;
      top: 12px;
      right: 12px;
      padding: 6px 10px;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      background-color: $WH;

      @include caption;
      color: $BK70;
    }

    & span {
      display: block;
      margin-top: 20px;
      @include body14;
      color: $BK90;
    }

    & .tags {
      display: flex;
      margin-top: 38px;
      gap: 8px;
      flex-wrap: wrap;
    }
  }
}
