@import '../../../../styles/variables/fonts.scss';
@import '../../../../styles/variables/colors.scss';

.tagLimitText {
  padding-left: 16px;
  margin-top: 56px;
  display: flex;
  align-items: center;
  @include caption;
  color: $BK70;
  gap: 4px;
  .infoIcon {
    padding-top: 4px;
    color: $BK100;
  }
}
