@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.wholeWrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-top: 56px;
  margin-bottom: 80px;

  @include sub16;
  color: $BK90;

  & .header {
    & :nth-child(2) {
      margin-top: 14px;
    }
  }

  .content {
    margin-top: 32px;

    & .imgContainer {
      display: flex;
      gap: 4px;
      height: min-content;
      margin-top: 12px;
      margin-bottom: 32px;
      overflow-x: auto;

      & .addImg {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 26px;
        border-radius: 5px;
        background-color: $BK10;
      }

      & .img {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
          width: 84px;
          height: 84px;
          border-radius: 5px;
        }
      }

      & .imgDel {
        z-index: 3;
        position: absolute;
        top: 6px;
        right: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    a {
      text-decoration: none;
    }

    & .tagSelect {
      display: flex;
      flex-direction: column;
      margin-top: 32px;
      color: $BK90;

      & .tags {
        margin-top: 16px;
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
      }
    }
  }
}

.btn {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background-color: $WH;
}
