@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';

.notice {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 4px 12px;
  gap: 8px;
  margin-top: 56px;
  margin-bottom: 20px;
  @include body14;
  .streakNumber {
    color: $primary_default;
    @include btn;
  }
}

.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  gap: 12px;
  padding: 0 16px;
  margin-bottom: 12px;
  .tabBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    border: none;
    border-radius: 12px;
  }
  .activeTabBtn {
    background-color: $BK30;
    @include btn;
  }
  .inactiveTabBtn {
    background-color: $WH;
    @include body14;
    color: $BK70;
  }
}

.tagChartBox {
  display: flex;
  flex-direction: column;
  padding: 16px;
  .barsBox {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 208px;
    margin: auto;
    margin-top: 30px;
    .barWrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 100px;
      .portionNumber {
        @include caption;
        color: $BK70;
      }
      .bar {
        background-color: $primary_default;
        border-radius: 8px;
        width: 48px;
      }
      .tagName {
        @include sub16;
      }
    }
  }
  .hr {
    background-color: $BK30;
    width: 100%;
    height: 2px;
    padding: 0 16px;
    margin-top: 15px;
    margin-bottom: 0;
    border: none;
  }
  .showMore {
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    padding: 16px 0;
    height: 48px;
    .showMoreStrContainer {
      display: flex;
      gap: 4px;
      @include caption;
      color: $BK70;
      text-decoration: none;
    }
  }
}
.chartTitleBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .chartTitle {
    @include header20;
  }
  .chartPeriodContainer {
    display: flex;
    gap: 8px;

    .chartPeriod {
      @include caption;
      color: $BK70;
    }
  }
}
.aiChartBox {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  gap: 18px;
  margin-bottom: 132px;
  .horizonsContainer {
    display: flex;
    flex-direction: column;
    .horizonBox {
      display: flex;
      gap: 16px;
      width: 100%;
      height: 94px;
      .aiProfileWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .aiName {
          @include body14;
        }
      }
      .barWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        flex-grow: 1;
        gap: 8px;
        margin-top: 14px;
        .greyBar {
          width: 100%;
          height: 14px;
          border-radius: 20px;
          background-color: $BK30;
          .orangeBar {
            height: 14px;
            border-radius: 20px;
            background-color: $primary_default;
          }
        }
        .aiPortionNumber {
          @include sub16;
        }
      }
    }
  }
}
